<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link rel="stylesheet" href="/css/goal/goal.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div id="todo-container">
        <h1>TODO List</h1>
        <ul id="todo-list">
            <li th:each="goal : ${goals}">
                <span th:text="${goal.title}" th:classappend="${goal.completed} ? 'completed' : ''"></span>
                <label>
                    <input type="checkbox" th:checked="${goal.completed} ? 'true' : 'false'" class="goal-check">
                </label>
            </li>
        </ul>
        <div id="new-todo-container">
            <label>
                <input type="text" id="new-goal" placeholder="New TODO">
            </label>
            <button id="add-todo">Add TODO</button>
        </div>
    </div>
</body>

<script>

    function makeGoalElement(goal){
        let li = document.createElement('li');
        let span = document.createElement('span');
        span.textContent = goal;
        li.appendChild(span);

        let label = document.createElement('label');
        let input = document.createElement('input');
        input.type = 'checkbox';
        input.classList.add('goal-check');
        label.appendChild(input);
        li.appendChild(label);

        return li;
    }

    document.addEventListener('DOMContentLoaded',()=>{

        document.querySelector('#todo-list').addEventListener('click',(e)=>{
            let target = e.target;
            if(e.target.tagName === 'INPUT') {
                e.target.checked ? e.target.closest('li').querySelector('span').classList.add('completed')
                        : e.target.closest('li').querySelector('span').classList.remove('completed');

            }
        })
        // addEventListener('change', (e)=>{
        //     e.target.checked ? e.target.closest('li').querySelector('span').classList.add('completed')
        //         : e.target.closest('li').querySelector('span').classList.remove('completed');
        // })

        //클릭시 새롭게 추가까지 해야한다.

        document.querySelector('#add-todo').addEventListener('click',(e)=>{
            let todoValue = document.querySelector('#new-goal').value;
            let htmlliElement = makeGoalElement(todoValue);
            document.getElementById('todo-list').appendChild(htmlliElement);
        })


    })





</script>
</html>